{% extends 'base.html' %}



{% block content %}

<div class="container">
    
      {% if exists=='n' %}

        <div class="jumbotron">
          <h3 style="font-weight: bold; color:red;">Entered Product Name does not exist. Please go to Home page and enter a correct product name.</h3>
        </div>

      {% else %}

        <div class="jumbotron">
		<h3 style="font-weight: bold; color:black;">Your choosen product is </h3>
          <h2 style="font-weight: bold; color:blue;">{{prod_name}} </h2>
        </div>
		
		<h2>Products you may like</h2>
		
<div class="row">

   <div class="column">
		
		
		<table>
		<tr>
			<th>id</th>
			<th> product name</th>
		</tr>
		{% for key, value in prod1.items() %}
		   <tr>
				<td style="color:red"> {{ key }} </td>
				<td style="color:blue"> {{ value }} </td>
		   </tr>
		{% endfor %}
		</table>
	</div>
		
		
	<div class="column">
		
		<table>
		<tr>
			<th>id</th>
			<th> product name</th>
		</tr>
		{% for key, value in prod2.items() %}
		   <tr>
				<td style="color:red"> {{ key }} </td>
				<td style="color:blue"> {{ value }} </td>
		   </tr>
		{% endfor %}
		</table>
	</div>
		
</div>



      {% endif %}

</div>


{% endblock %}